<div class="connexion-page">
  <div class="connexion-container">
    <div class="connexion">
      <h2>Connexion</h2>
      <div class="form">
        <label for="example-text-input">Adresse E-mail:</label>
        <input type="text">
          <label for="example-text-input">Mot De Passe:</label>
          <input type="password">
      </div>
      <a href="#/filtrage"><button type="button" class="btn">connexion</button></a>
      <p>Si vous n'avez pas d'identifiant, <a href="#/inscription">s'inscrire</a></p>
    </div>
  </div>
</div>
