<div class="connexion-page" ng-controller="signupCtrl">
  <div class="connexion-container">
    <div class="connexion">
      <h3>INSCRIVEZ-VOUS À L'AIDE DE VOTRE ADRESSE E-MAIL</h3>
      <div class="form">
        <label for="example-text-input">Adresse E-mail:</label>
        <input type="text" ng-model="mannequins.mail">
        <label for="example-text-input">Prénom:</label>
        <input type="text" ng-model="mannequins.name">
        <label for="example-text-input">Nom De Famille:</label>
        <input type="text" ng-model="mannequins.lastname">
        <label for="example-text-input">Nom D'utilisateur:</label>
        <input type="text" ng-model="mannequins.username">
        <label for="example-text-input">Mot De Passe:</label>
        <input ng-model="mannequins.pwd" type="password">
      </div>
      <a><button type="button" class="btn" ng-click="signup()">Save Modifications</button></a>
    </div>
  </div>
</div>
