<div class="connexion-page" ng-controller="signupCtrl">
  <div class="connexion-container">
    <div class="connexion">
      <h3>INSCRIVEZ-VOUS À L'AIDE DE VOTRE ADRESSE E-MAIL</h3>
      <div class="form">
        <label for="example-text-input">Adresse E-mail:</label>
        <input type="text" ng-model="mannequins.mail">
        <label for="example-text-input">Prénom:</label>
        <input type="text" ng-model="mannequins.name">
        <label for="example-text-input">Nom De Famille:</label>
        <input type="text" ng-model="mannequins.lastname">
        <label for="example-text-input">Mot De Passe:</label>
        <input type="password">
        <label for="example-text-input">Date De Naissance:</label>
        <input type="date">
        <form>
          <input type= "radio" name="sexe" value="jour">Femme
          <input type= "radio" name="sexe" value="nuit">Homme
          <input type= "radio" name="sexe" value="nuit">Non-genré
        </form>
      </div>
      <a><button type="button" class="btn" ng-click="addModel()">Save Modifications</button></a>
    </div>
  </div>
</div>
