<div class="model-profile-container" ng-controller="persoCtrl">
  <div class="profile-top shadow">
    <div class="infos-model">
      <div class="infos-model-img">
        <img src="https://monicacph.files.wordpress.com/2012/04/amira1.jpg" alt="{{model.username}}">
      </div>
      <div class="infos-model-description">
        <a href="#/persoUpdate/{{model.username}}" class="modifier" ng-if="isCurrent"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier le  profile</a>
        <h1>{{model.name}} {{model.lastname}} <i class="{{model.icon}}" aria-hidden="true"></i></h1>
        <p>Sexe: <span>{{model.sexe}}</span></p>
        <p>Âge: <span>{{model.age}}</span></p>
        <p>Taille: <span>{{model.taille}}</span></p>
        <p>Poids: <span>{{model.poids}}</span></p>
        <p>Pointure: <span>{{model.pointure}}</span></p>
        <p>Couleur des yeux: <span>{{model.eyes}}</span></p>
        <p>Couleur des cheveux: <span>{{model.hairs}}</span></p>
        <p>Origine Ethnique: <span>{{model.ethnicity}}</span></p>
        <p>Rentrer en contact avec {{model.name}} <i class="fa fa-envelope-o" aria-hidden="true"></i></p>
        <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="profile-photos">
      <img ng-repeat="photo in img" src="{{photo.photo}}" alt="">
    </div>
  </div>
</div>
<!--  nouveau templateavec des inputs
  - HTTP GET pour récuperer les infos d'un mannequins
  /topModels/:id
- les afficher en frront dans des inputs
- onClick sur le bouton save les modif :
  HTTP PUT /updateOne/:id, req.body
 -->
