<div class="model-profile-container" ng-controller="persoCtrl">
  <div class="profile-top">
    <img src="{{model.photo}}" alt="{{model.name}}">
    <div class="infos-model">
      <p ng-if="isCurrent"> <a href="#/persoUpdate/{{model.username}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>Modifier le  profile</p>
      <h1>{{model.name}} {{model.lastname}} <i class="{{model.icon}}" aria-hidden="true"></i></h1>
      <p>Âge: <span>{{model.age}} ans</span></p>
      <p>Taille: <span>{{model.taille}}cm</span></p>
      <p>Poids: <span>{{model.poids}}kg</span></p>
      <p>Pointure: <span>{{model.pointure}}</span></p>
      <p>Couleur des yeux: <span>{{model.eyes}}</span></p>
      <p>Couleur des cheveux: <span>{{model.hairs}}</span></p>
      <p>Origine Ethnique: <span>{{model.ethnicity}}</span></p>
      <p>Rentrer en contact avec {{model.name}} <i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
<!--  nouveau templateavec des inputs
  - HTTP GET pour récuperer les infos d'un mannequins
  /topModels/:id
- les afficher en frront dans des inputs
- onClick sur le bouton save les modif :
  HTTP PUT /updateOne/:id, req.body
 -->
