<div class="connexion-page" ng-controller="updateCtrl">
  <div class="connexion-container">
    <div class="connexion">
      <div class="form-group">
        <div class="form">
          <label for="example-text-input">Prénom:</label>
          <input type="text" ng-model="mannequins.name">
          <label for="example-text-input">Nom De Famille:</label>
          <input type="text" ng-model="mannequins.lastname">
          <label for="example-text-input">Username:</label>
          <input type="text" ng-model="mannequins.username">
          <label for="example-text-input">E-mail:</label>
          <input type="text" ng-model="mannequins.mail">
          <label for="example-text-input">Âge:</label>
          <input type="text" ng-model="mannequins.age">
          <label for="example-text-input">Taille:</label>
          <input type="text" ng-model="mannequins.taille">
          <label for="example-text-input">Pointure:</label>
          <input type="text" ng-model="mannequins.pointure">
          <label for="example-text-input">Poids:</label>
          <input type="text" ng-model="mannequins.poids">
          <label for="example-text-input">Eyes:</label>
          <input type="text" ng-model="mannequins.eyes">
          <label for="example-text-input">Hairs:</label>
          <input type="text" ng-model="mannequins.hairs">
          <label for="example-text-input">Ethnicity:</label>
          <input type="text" ng-model="mannequins.ethnicity">
          <form>
        <div class="form flex">
          <label for="sel1">Sexe</label>
          <select class="form-control" id="sel1" ng-model="mannequins.sexe">
            <option>Peu importe</option>
            <option>Féminin</option>
            <option>Masculin</option>
          </select>
        </div>
        <button type="button" class="btn" ng-click="addModel()"><a href="#/perso/{{mannequins.username}}">Enregistrer</a></button>
      </div>
    </div>
  </div>
</div>
