.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-top {
  display: flex;
  width: 800px;
  background: #E7E397;
}
.infos-user h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.profile-top img {
  width: 300px;
  height: 380px;

}

.infos-user i {
  text-align: center;
}
