.persoUP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-top button {
  height: 40px;
}
.infos-update-img {
  margin-top: 120px;
}
.update-container {
  display: flex;
  justify-content: space-around;
}
