.model-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.model-profile-container a {
  color: #222;
  text-decoration: none;
}
a.modifier {
  position: relative;
  top: -80px;
  left: -363px;
}
.profile-top {
  padding: 100px;
  margin: 40px;
  min-width: 1000px;
  background-color: #fff;
}
.infos-model {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 70%;
  font-size: 17px;
}

.infos-model h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.infos-model p {
  font-weight: bolder;
}

.infos-model p span {
  font-style: italic;
  font-weight: normal;
}
.infos-model img {
  width: 300px;
  height: 380px;
}

.infos-model i {
  text-align: center;
}

.profile-photos {
  display: flex
  flex-wrap: wrap;

}

.profile-photos img {
  margin: 10px;
  width: 200px;
  height: 180px;
}
