.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardPage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
  height: 200px;
  width: 240px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.1s all;
  text-transform: capitalize;
  margin: 0px 7px 30px;
  background-color: #fff;

}
.topCard {
     margin-top: 30px;
     position: relative;
}

.botCard {
      background-color: #CEBCBB;
      color: #fff;
      width: 100%;
      height: 30px;
      font-size: 17px;
      letter-spacing: 2px;
}
.botCard p {
  margin-top: 3px;
}
.topCard img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;
  max-height: 150px;
  max-width: 260px;
}
