#body {
background-color: #E3DFDB;
font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

.shadow {box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;}
.container-principal h1 {
  text-align: center;
  font-family: 'League Script', cursive;
  font-weight: bold;
  font-size: 60px;
  color: #222;
}
.container-principal h1 a {
  text-decoration: none;
  color: #222;
}
.container-principal .menu-top ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}
 a {
  text-decoration: none;
  color: #222;
}

.btn{
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #CCA6A3;
  color: #fff;
  text-align: center;
  width: 160px;
  margin-top: 20px;
}

.btn p {
  margin-top: 5px;
}

.btn i {
  margin-left: 12px;
}
.menu-top {
  /*margin-top: 50px;*/
}
.menu-top li a{
  color: #222;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Dancing Script', Georgia, Times, serif;
	line-height: 60px;
}
